@font-face {
    font-family: myFirstFont;
    src: url(Beautiful\ Things\ Demo.ttf);
  }
  
  div {
    font-family: myFirstFont;
  }
 

  
body{
    background:linear-gradient(rgba(0, 0, 0, 0.096),rgba(0, 0, 0, 0.096)), url("Hintergrund\ Naturgeister.png");
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative;
}


.logo1 img{
    width: 60px;
    float: top;
    height: 0%;
    margin-top: 40px;
    text-align: center;
    margin-left: 350px;

    
    }

.h1{
    font-family:myFirstFont;
    font-size: 40px;;
    line-height: 0.5pt;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px white;

}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
        float: left;
        border: 1px solid rgb(0, 0, 0);
        background:rgba(255, 255, 255, 0.5);
        width: 300px;
        height: 700px;
        overflow-x:hidden;
        overflow-y: auto;
        border:2px solid black;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 25px;
        
      }
      
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 1px 15px;
  width: 100%;
  border:1px solid rgb(255, 255, 255);
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;


  
}
  h2 {
        font-family: myFirstFont;
        font-size: 35px;
       
        
    }
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(163, 235, 130, 0.452);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgba(78, 145, 47, 0.445);
}

/* Style the tab content */
.tabcontent {
  float: right;
  padding: 0px 20px;
  border: 2px solid #333;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.671);
  height: 700px;
  margin-top: 0px;
  margin-right: 25px;
  line-height: 0;

  
}


h3{
  font-size: 50px;
  margin:-750px 0 295px 500px;
  line-height: 503px;
}

p{
 
  margin:-735px 0 310px 500px;
  line-height: 459px;
}

h4{
  font-size: 50px;

}
p{
  font-size: 35px;
}
      
  

    div.container {
        float: top;
        background-color: white;
        width: 1000px;
        height: 544px;
        border: 2px solid black;
        background:rgba(255,255,255,0.5);
        margin-top: 16px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 400px;
               
       }
               
       div.box {
        box-sizing: border-box;
        width: 50%;
        border: none;
        float: left;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 0px;
       }

.tabcontent img{
    width:400px;
    height: 450px;
}

.wrapper{
    width:1170px;
    margin:auto;
}


.nav-area li{
    float: left;
    list-style: none;
    margin-top: 22px;
    padding:0;

  

}

.nav-area li{
    float:left;
   
}
.nav-area li a{
    display: inline-block;
   text-decoration: none;
    color: rgb(248, 248, 248); /* nichts*/
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 45px;
    padding: 14px 16px;
    
}
.nav-area li a:hover {
    background-color: rgb(10, 13, 51);
    color:rgb(255, 255, 255); /* Schrift wenn man maus drauf an oben*/
}


.nav-area li ul li {
    display: none;

}
.nav-area li:hover ul li{
  
    color: rgb(255, 255, 255);/*nichts*/
    
    display:inline-block;
}


.nav-area li a, .dropbtn {
  display: inline-block;
  color: rgb(0, 0, 0);/*schrift*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-area li a:hover, .dropdown:hover .dropbtn {
  background-color:rgb(48, 121, 16);/*oben*/
}

.nav-area li.dropdown {
  display: inline-block;
}

.nav-area .dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(48, 121, 16, 0.644);/*unten*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-area .dropdown-content a {
  color:rgb(0, 0, 0);/*Schrift unten*/
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-area .dropdown-content a:hover {background-color: #a3d19a;}

.nav-area .dropdown:hover .dropdown-content {
  display: block;
}
.logo img{
  width: 200px;
  float: left;

  position: relative;
}
.wrapper{
  width:1170px;
  margin:auto;
}


.nav-area li{
  float: left;
  list-style: none;
  margin-top: 17px;
  padding:0;



}

.nav-area li{
  float:left;
 
}
.nav-area li a{
  display: inline-block;
 text-decoration: none;
  color: rgb(248, 248, 248); /* nichts*/
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 45px;
  padding: 14px 16px;
  
}
.nav-area li a:hover {
  background-color: rgb(10, 13, 51);
  color:rgb(255, 255, 255); /* Schrift wenn man maus drauf an oben*/
}


.nav-area li ul li {
  display: none;

}
.nav-area li:hover ul li{

  color: rgb(255, 255, 255);/*nichts*/
  
  display:inline-block;
}


.nav-area li a, .dropbtn {
display: inline-block;
color: rgb(0, 0, 0);/*schrift*/
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.nav-area li a:hover, .dropdown:hover .dropbtn {
background-color:rgb(48, 121, 16);/*oben*/
}

.nav-area li.dropdown {
display: inline-block;
}

.nav-area .dropdown-content {
display: none;
position: absolute;
background-color:rgba(48, 121, 16, 0.644);/*unten*/
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.nav-area .dropdown-content a {
color:rgb(0, 0, 0);/*Schrift unten*/
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.nav-area .dropdown-content a:hover {background-color: #a3d19a;}

.nav-area .dropdown:hover .dropdown-content {
display: block;
}
.logo img{
width: 200px;
float: left;
margin-top:-16px;
position: relative;
}

.buttonANAB {
    background-color:rgba(86, 165, 90, 0.589);
    color:white;
    border: 1.5px solid #fff;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-size: 45px;
    margin-left: 200px;
    display:inline-block;
    font-family: myFirstFont;
    transition: background-color 0.2s ease;
    font-weight: 100;
    width: 20%;

}
.buttonANAB:hover {
    background-color: rgba(34, 131, 58, 0.384);
    opacity: 1;
}